# String de conexao do NeonDB (Postgres)
# Formato: postgresql://usuario:senha@ep-xxxx.neon.tech/nome_do_banco?sslmode=require
DATABASE_URL=

# Porta local do servidor Nest (nao usada na Vercel, so em dev)
PORT=3001

# Origem permitida para CORS (URL do frontend)
WEB_ORIGIN=http://localhost:3000
